@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
*, *::before, *::after{
	box-sizing: border-box;
}
::selection {
  color: mediumslateblue; 
  background: #f4f4f4;
}
.readable-hidden{
	position: absolute;
	width:1px;
	height:1px;
	overflow:hidden;
	margin: -1px;
	clip: rect(0,0,0,0);
	visibility: hidden;
}
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  background-color: #e9edef;
  font-size: 2rem;
  /* background-image: linear-gradient(-45deg,red,green); */
}
/* responsive 이미지 */
img{
	max-width: 100%;
	height: auto;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
/* 헤더 */
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;
}
/* 메인메뉴 */
.menu{
	display: flex;
}
.menu li{
	font-size: 2.5rem;
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 1em;
	letter-spacing: -1px;
}
.menu .is-act{
	border-bottom: 2px solid black;
}
/* 포트폴리오 섹션 */
.product{
	background-color: #fff;
	border: 1px solid #e9edef;
	padding: 50px;
	margin: 40px;
	display: flex;
	border-radius: 10px;
	align-items: center;
}
/* 플로트를 활용한 레이아웃 */
/* .product .wrapper{
	float: left; */
/* flex를 활용한 레이아웃 */
.product .thumbnail{
	margin: 50px;
}
.product .subject{
	font-family: 'Spoqa Han Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.5rem;
}
.product .summary{
	margin: 1em 0;
}
.product .more{
	color: #B41917;
	font-size: 1.5rem;
}
/* 푸터 */
.footer{
	font-size: 1.5rem;
	margin: 150px 0 50px;
	display: flex;
}
.sns{
	display: flex;
}
.sns li::before{
	content: '·';
	margin: 0 5px;
}
.copyright{
	margin-left: auto;
}
/* portfolio 공통 */
.light{
	background-color: #fff;
	padding: 1em 2em;
	text-align: center;
}
.dark{
	background-color: #1a1e23;
	color: #f3f5f6;
	padding: 1em 2em;
	text-align: center;
}
.dark .comment{
	color: #aaa;
	font-size: 2rem;
	font-style: italic;
}

.portfolio .title{
	font-size: 5rem;
	font-family: "Spoqa Han Sans";
	font-weight: 700;
	padding: 1em 0;
	text-transform: uppercase;

}

.portfolio .small{
	font-size: 1.5rem;

}
.portfolio .medium{
	font-size: 4rem;

}

.portfolio .wrapper{
	width: 750px;
	margin: 0 auto;
	text-align: left;
}
.portfolio p{
	font-size: 3rem;
	margin: 1.5em 0;
	line-height: 2;
}
.portfolio .thumbnail{
	width: 100%;
	font-size: 1.5rem;
}
.portfolio .list, .portfolio ol{
	font-size: 3rem;

}
.portfolio ol{
	list-style-type: decimal;
	padding-left: 50px;
}
.portfolio li{
	margin: 1em 0;
}
.next-portfolio{
	padding: 4em 3em;
	display: flex;
	justify-content: space-between;

}
.next-title{
	color: #aaa;
	text-transform: uppercase;
	font-family: "Spoqa Han Sans";
	font-weight: 700;

}
.next-portfolio a::after{
	content:" →";
}
